<ion-view title='<img class="title-image" src="img/logo.png" />'>
<ion-content>
      <ion-list>
        <ion-item class="item-text-wrap">
        <strong>GST Hostbooks</strong>
        <p>B – 20 & 21, Hartron Complex, Electronic City,<br />
        Udyog Vihar Phase IV, Sector 18,<br />
        Gurugram, Haryana 122015</p><br />
        <strong>Email: </strong> info@gsthostbooks.com
        </ion-item>
      </ion-list> 
      <ion-list>
        <div>
          <div id="map" class="showMap" data-tap-disabled="true"></div>
        </div>
      </ion-list>
      <ion-list>
      </ion-list>
</ion-content>

<!-- <ion-content>
      <div id="map" data-tap-disabled="true"></div>
</ion-content> -->



</ion-view>
