<ion-view view-title='<img class="title-image" src="img/logo.png" />'>
  <ion-content class="">
  <div class="list matrixBackground">    
    <div class="row">
      <div class="col col-50" ui-sref="menu.tabs.finderSearchMode"> 
        <img class="resizeImg" src="img/GST-Rate-Finder.jpg">
      </div>
      <div class="col col-50" ui-sref="menu.tabs.calculatorGst"> 
        <img class="resizeImg" src="img/GST-Rate-Calculator.jpg">
      </div>      
    </div>
    <div class="row">
      <div class="col col-50" ui-sref="menu.tabs.news">
        <img class="resizeImg" src="img/News.jpg">
      </div>
      <div class="col" ui-sref="menu.tabs.knowledgeBase">
        <img class="resizeImg" src="img/Knowledge-Base.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col col-50" ui-sref="menu.tabs.gstLaw"> 
        <img class="resizeImg" src="img/GST-Law.jpg">
      </div>
      <div ng-controller="gstLawController" class="col" ng-click="gstRule()">
        <img class="resizeImg" src="img/GST-Rule.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col col-50" ng-click="fetchGstMatrix({{63}})">
        <img class="resizeImg" src="img/GST-Schedule.jpg">
      </div>
      <div class="col" ng-click="fetchFaqMatrix({{60}})">
        <img class="resizeImg" src="img/FAQ.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col col-50" ui-sref="menu.tabs.search">
        <img class="resizeImg" src="img/Search.jpg">
      </div>
      <div class="col" ui-sref="menu.tabs.contact">
        <img class="resizeImg" src="img/Need-Help.jpg">
      </div>
    </div>
  </div> 
  </ion-content>
</ion-view>
