<ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                GST Rate Calculator 2017
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                  <label class="item item-input">
                    <input type="number" placeholder="Enter your Amount" ng-model="amount">
                  </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Select Rate of GST
                    </div>
                    <select ng-model="gstRate">
                      <option value=5>5%</option>
                      <option value=12 selected>12%</option>
                      <option value=18>18%</option>
                      <option value=28>28%</option>
                    </select>
                  </label>
                </div>
                <div class="" id="hidden">
                <strong>Original Cost: </strong>{{amount}}<br />
                <strong>GST %: </strong>{{gstRate}}<br />    
                <strong>GST Price: </strong>{{gstPrice}}<br />    
                <strong>Net Price: </strong>{{netPrice}}<br />                                
                </div>
                <button class="button button-block button-positive" ng-click="calculateGST(amount, gstRate)">
                  Calculate
                </button>

            </div>
            <div class="item item-divider">
                Advanced GST Rate calculator Coming Soon!!!
            </div>
        </div>
    </ion-content>
</ion-view>