<ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Search for" ng-model="searchTerm"> 
                </label>
                    <a ng-click="searchTerm = ''" class="button ion-ios-close button-clear button-small btn-red" ng-show="searchTerm.length"></a>
                 <button class="button button-positive" ng-click="loadMore(); doRefresh(); ">
                    Search
                </button>
            </div>
            <div class="hidden" id="hidden">
                <div ng-hide="searchTerm==''">
                    
                    <ion-item class="item-thumbnail-left item item-text-wrap" ng-repeat="n in posts | orderBy:'-date' | filter : searchTerm track by $index" href="#/menu/tab/searchItem/{{n.id}}">
                      
                      <img ng-src="{{n.better_featured_image.media_details.sizes.thumbnail.source_url}}"/>
                      <h2 ng-bind-html="n.title.rendered"></h2>
                      <h4>{{n.date | date:'dd-MMMM-yyyy'}}</h4>
                    </ion-item>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>