<ion-view title='<img class="title-image" src="img/logo.png" />'>
  <ion-content> <!-- class="has-subheader" -->
    <ion-list>
    <div class="item item-divider customHeader">
      Make a Selection
    </div>
      <ion-item class="item item-text-wrap item-icon-right" ng-click="setGoods()">        
        Goods
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-text-wrap item-icon-right" ng-click="setServices()">        
        Services
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
