
.box {
	padding: 10px
}
.scroll-content{
	background:url("../img/GST-bk2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.hideByDefault{
    display: none;
}

.modal{
	padding: 10px;
	height: 60%;
	}
.card-bk1{
	color: #f1931a;
	background:url("../img/bk21.png") right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

}
.card-bk2{
	color: #ffffff;
	background:url("../img/bkBar.png") center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

}
.card-transparent{
    background-color: rgba(0, 0, 0, 0.3);

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
    text-align: center;
}

.item-complex.item-icon-right .item-content {
    padding-right: 25px;
}

h1.head, h3.head, h4.head{
    color: #f1931a;

}
h2.head{
    color: #f1931a;
    font-size: 24px;
}
.item h2{
	font-size: 16px;
	font-weight: 500;
	color: #333;
}
.item-avatar .item-content{
	padding-left: 60px;
  	padding-right: 15px;
}
.logo{
	text-align: left;
	padding-top: 5px;
	width:80%;
}
.hidden{
	display: none;
}


.iconPhone{
	font-size: 18px;
}

/*blinking effect --> Start*/
 .latestNews{
	color: red;
	font-size: 21px;
	animation-duration: 400ms;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;
} 

@keyframes blink {
  0% { color: red; }
  100% { color: gray; }
}
@-webkit-keyframes blink {
  0% { color: red; }
  100% { color: gray; }
}
.blink {
  -webkit-animation: blink 2s linear infinite;
  -moz-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
/* blinking effect --> End*/

.action-sheet-wrapper{
	position: relative;
}
.action-sheet-title{
	font-size: 20px;
	color: #000000;
}
.action-sheet .button{
	font-size: 12px;
}


.scroll {
    height: 100%;
    overflow: visible;
}
.showMap{
	position: fixed !important;
	/*overflow: visible !important;*/
}
#map {
    width: 100%;
    height: 400px;

}

/*.scroll {
  height: 100%;
} */
