.expand-item{
  position: relative;
  width: 100%;
  max-height: 20px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}
.expand-item.active {
  max-height: 100%;
  transition: max-height 0.3s ease-out;
}
/*#searchtext span{background-color:#FF9;color:#555;}*/




.bar.bar-positive, .tabs-positive>.tabs, .tabs.tabs-positive {
    border-color: #004F7D !important;
    background-color: #004F7D !important;
    background-image: linear-gradient(0deg,#004F7D,#004F7D 50%,transparent 50%) !important;
    color: #fff !important;
}

/*.tabs-positive>.tabs, .tabs.tabs-positive {
    border-color: #333;
    background-color: #333;
    background-image: linear-gradient(0deg,#333,#333 50%,transparent 50%);
    color: #fff;
}*/
.bar .button.button-icon .icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar .button.button-icon:before {
    font-size: 25px !important;
}
div.detailsPage h2{
  font-size: 22px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-right: 5px !important;
}
span.source {
font-style: italic;
font-size: 10px;
background-color: #efefef;
padding: 2px 5px;
}
.list {
    padding-top: 0px;
}
.tab-nav.tabs {
    margin-bottom: -1px;
}
.tags.meta {
    border-top: 1px solid #ccc;
    padding: 0px 15px 15px;
    text-align: left;
}
.meta {
    text-transform: uppercase;
    font-size: 12px !important;
}
.meta span {
    background-color: #efefef;
    padding: 2px 4px;
    margin: 5px 5px 5px 0;
    line-height: 25px;
}
span.tab-title {
    text-transform: uppercase;
}
.card, .list-inset {
  margin:0px;
}
.card img {
    width: 100%;
}
.card a {
  text-decoration: none; 
}
div.card div.item:first-child.item-text-wrap {
    border-bottom: 0px;
    padding: 0px !important;
}
.card .item:last-child, .list-inset .item:last-child {
    margin: -95px 0 -1px 0;
    border: 0px;
    background: #333;
    opacity: 0.75;
}
.card .item h2 {
  font-size: 20px;
  text-shadow: 1px 1px #000;
  color: #fff;
}
.card .item h4 {
  color: #fff;
}
.item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child {
  border: 1px solid #ccc;
}
.button-clear.button-clear.btn-red{
  color: #f58d8d;
}
.ion-ios-close:before{
  font-size: 25px;
}
.item-input-inset .item-input-wrapper input{
  width: 100%;
}

.item-image .list-img, .item-image img:first-child{
  height: auto;
}
.button.button-positive {
    background-color: #BD6D00;
    border-color: #BD6D00;
}

.title-image {
    margin-top: 7px;
    height: 30px;
}


.customHeader.item-divider {
    background-color: #0077bd;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.spinner svg {
    stroke: #0077bd;
    fill: #0077bd;
}
.item-icon-left .icon:before, .item-icon-right .icon:before {
    display: block;
    width: 32px;
    text-align: center;
    color: #0077bd;
}
.col{
  /*padding: 1px;*/
}

.list-block{
  margin-bottom: 0px;
}

.btn-Custom{
  padding: 10px;
  text-transform: uppercase;
}

.button.button-positive.activated{
  background-color: #004F7D;
  border-color: #004F7D;
}

.item p {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 10px;
    line-height: 26px;
}

img.full-image{
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.item .badge{
  right: 12px;
}


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;

}
/*.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 5%;
  margin-left: -1.5px;
}*/


.item h4{
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 7px;
    color: #999;
}
.item .meta h4.meta {opacity: 1;}

.button.ion-chevron-left{
font-size: 24px;
}

.resizeImg{
	width: 100%;
    position:relative;
    /*background-position: center;*/
}

ol, ul {
    padding: 0 10px 15px 35px;
}
ol li {
    list-style: upper-roman;
}
ul li {
    list-style: disc;
}


.dte, .loc, .sta, .tme{
	text-align:center;
  background-color:#d3d3d3;
border:thin gray solid;
}
.dte1, .loc1, .sta1, .tme1{
	text-align:center;
	border:thin gray solid;
	padding-top: 5px;
}

.img1{
	width: 100%;
  height: auto;
}
.img2{
	height: 100%;
}
.imgBackground{
    width: 150px;
    height: auto;

}

/* img{
	width: 50%;

} */
img.fullWidth{
	width: 100%;

}
.custom-icon {
  font-size: 64px;
  color : red;
}
.favMeYes{
	color: #057EF5;
	font-size: 30px;
}
.favMeNo{
	color: #ABABAB;
	font-size: 30px;
}

.t1{
	height:600px;
}

.customImg{
	height: 80%;
	width: 70%;
}
.singleImg{
	width:100%;
	height:100%;
}

.customDiv {
  width: auto;
  height: auto;
  text-align: center;
  /*background: rgba(221, 184, 245, 0.7);*/
  /*border: 1px solid;*/
  /*border-color: #000;*/
}
.customDiv:active {
  background: #ccc;
}
/*div.iBtnsYellow {
  width: auto;
  height: 150px;
  text-align: center;
  background: yellow;
}*/
